body {
    background-image: url('pink_rice.png');
}
h3 {
    font-family: "Arial";
}       
h4 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 3px pink;
    text-align: center;
}
p {
    text-align: left;
}